
@model HRM.Models.AssignProject.AddAssignProject

@{
    ViewData["Title"] = "CreateAssignProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateAssignProject</h1>

<h4>AddAssignProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAssignProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
       @Html.DropDownListFor(m => m.EmployeeId,Model.EmployeeList,"Select Employee",new {@class = "form-control"});
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                @Html.DropDownListFor(m => m.ProjectId,Model.ProjectList,"Select Project",new {@class = "form-control"});
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

